<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
</head>

<body>
  {{> header}}
  <div class="main-content" style="margin-top: 50px;">
    <table class="centered responsive-table">
      {{#each characters}}
      <tr>
        {{#each this}}
          <td>{{ this }}</td>
        {{/each}}
      </tr>
      {{/each}}
    </table>
  </div>
  <div class="main-content words purple darken-2 center" style="margin-top: 50px; width: 30%;">
    <h1 class="words_display" style="color: white"></h1>
    <p class="button">Submit</p>
  </div>
  {{> footer}}
</body>

<script>
  

  let table_elem = document.querySelectorAll('td');
  for (let i = 0; i < table_elem.length; i++) {
    table_elem[i].addEventListener('click', () => {
      document.querySelector(".words_display").innerHTML += table_elem[i].innerHTML;
    })
  }

  document.querySelector("button").addEventListener('click', () => {

  })
</script>
</html>