<footer class="page-footer purple darken-2">
  <div class="footer-copyright">
    <div class="container">
      Word Battle
      <p class="grey-text text-lighten-4 right">Play Word Battle with your friends, or don't, that's your choice.</p>
    </div>
  </div>
</footer>