<header>
  <nav>
    <div class="z-depth-3 nav-wrapper purple darken-2">
      <a href="#" class="brand-logo">Word Battle</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create Game</a></li>
        <li><a href="/account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>