<header>
  <nav>
    <div class="nav-wrapper purple darken-2">
      <a href="/" class="brand-logo" style=>Word Battle</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/game">Create Game</a></li>
        <li><a href="/account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>