html, body {
  background-image: url("https://wallpaperaccess.com/full/2360707.jpg");

}

div.main-content {
  padding: 0px 25px;
}

div.nav-wrapper {
  padding: 0px 25px;
}

footer.page-footer {
  padding-top: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
