html,
body {
  background-image: url("https://wallpaperaccess.com/full/2360707.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

div.main-content {
  padding: 0px 25px;
}

div.nav-wrapper {
  padding: 0px 25px;
}

footer.page-footer {
  padding-top: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

table {
  background-color: #7b1fa2;
  width: 17.5%;
  margin-left: auto;
  margin-right: auto;
  min-width: 17.5%;
  max-width: 17.5%;
  border-radius: 10px;
  border-left: none;
  border-right: none;
  user-select:none;
}

td {
  color: yellow;
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-radius: 10px;
  user-select:none;
}

.words {
  margin-left: auto;
  margin-right: auto;
}

.score {
  width: 15%; 
  color: white; 
  margin-left: 42%;
}